
<%
id = params[:id]
user = User.find(id.to_i)
%>

<h1><%=user.name%> </h1>
<ul>
    <li>Son adresse : <%=user.city.adress%></li>
    <li>Son email : <%=user.email%></li>
    <li>Son age : <%=user.age%> ans</li>
    <li>Sa description : <%=user.description%></li>
</ul>
