<p>Voici tous les potins :</p>
<div class="d-flex flex-wrap">
  <div class="card p-2 m-2" style="width: 30rem;">
    <%= image_tag "", class: "card-img-top" %>
    <div class="card-body">
      <h5 class="card-title">Voulez-vous créer un nouveau potin?</h5>
      <a href="/gossips/new" class="btn btn-primary">Nouveau potin </a>
    </div>
  </div>
  <% @gossips.each do |gossip|%>
    <div class="card p-2 m-2" style="width: 30rem;">
      <%= image_tag get_random_image, class: "card-img-top" %>

      <div class="card-body">
        <h5 class="card-title"><%=gossip.title%></h5>
        <p class="card-text">
          Ce potin a été écrit par cette balance de <%=gossip.user.name%>.
        </p>
        <div class="d-flex flex-wrap">
          <%if session[:user_id] != nil%>
            <a href="/gossips/<%=gossip.id%>" class="btn btn-primary m-1">Voir le potin<a>
          <%end%>
          <%if current_user == gossip.user%>
            <a href="<%=edit_gossip_path(gossip.id)%>" class="btn btn-warning m-1">Editer le potin</a>
            <a href="<%=gossip_path(gossip.id) %>" class="btn btn-danger m-1" data-confirm="Voulez-vous vraiment supprimer ce potin" data-method="DELETE">Suprimer le potin</a>
          <%end%>
        </div>
      </div>
    </div>
  <%end%>
</div>
