<h1>Voici votre potin : </h1>
<h3><%=@gossip.title%></h3>
<p><%=@gossip.content%>
</p>
<h4>Tags associés à ce potin</h4>
<div class="d-flex flex-wrap">
    <%@tags.each do |tag|%>
    <div class="card m-2 p-2" style="width: 10rem;">
        <p class="card-text d-flex justify-content-center"><%=tag.title%></p>
    </div>
    <%end%>
</div>
    <br /> <br />

<p>Et voici l'utilisateur qui a publié ce potin : <a href="<%=user_path(@user.id)%>"> <%=@user.name%> </a></p>
<p>Et voici la ville où vit l'auteur qui a publié ce potin : <a href="<%=city_path(@city.id)%>"> <%=@city.name%> </a></p>
    <br /> <br />

<%= form_tag('/comments', method: "post") do %>

    <%= label_tag 'Nouveau commentaire' %>
    <%= text_area_tag 'content', @comment.content, class: 'form-control' %>
    <br />
    <%= submit_tag "Ecrire un nouveau commentaire pour le potin numéro #{@gossip.id} " , class: 'btn btn-primary'%>

<% end %>
    <br /> <br />

<h3>Liste des commentaires</h3>

<%@comments.each do |comment|%>
    <div class="card p-1 col-12 m-2">
        <blockquote class="blockquote mb-0 card-body">
            <p><%=comment.content%></p>
            <footer class="blockquote-footer">
                <small class="text-muted">
                    Posté par <cite title="Source Title"><%=comment.user.name%></cite>
                </small>
            </footer>
        </blockquote>
        <div class="d-flex align-items-end">
            <%= form_tag('/comments', method: "post") do %>

                <%= label_tag 'Nouveau commentaire' %>
                <%= text_area_tag 'content', @comment.content, class: 'form-control' %>
                <br />
                <%= submit_tag "Ecrire un nouveau commentaire pour le commentaire numéro #{comment.id} " , class: 'btn btn-primary'%>

            <% end %>
          <a href="/comments/<%=comment.id%>/edit" class="btn btn-warning m-1">Editer le commentaire</a>
          <a href="/comments/<%=comment.id%>" class="btn btn-danger m-1" data-confirm="Voulez-vous vraiment supprimer ce commentaire" data-method="DELETE">Supprimer le commentaire</a>
        </div>
    </div>
    <%comment.comments.each do |c|%>
        <div class="card p-1 col-8 m-2 float-right" style="font">
            <blockquote class="blockquote mb-0 card-body">
                <p><%=c.content%></p>
                <footer class="blockquote-footer">
                    <small class="text-muted">
                        Posté par <cite title="Source Title"><%=c.user.name%></cite>
                    </small>
                </footer>
            </blockquote>
            <div>
                <a href="/comments/<%=c.id%>/edit" class="btn btn-warning m-1">Editer le commentaire</a>
                <a href="/comments/<%=c.id%>" class="btn btn-danger m-1" data-confirm="Voulez-vous vraiment supprimer ce commentaire" data-method="DELETE">Supprimer le commentaire</a>
            </div>
        </div>
    <%end%>
<%end%>

